html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

.admin-background {
    width: 100%;
    height: 100%;
    background-image: url(../IMAGES/4.jpg);
    position: absolute;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: blue;
    opacity: 0.2;
    z-index: 2;
}

.nav-bar {
    width: 100%;
    height: 80px;
    position: absolute;
    background-color: #1f1f1f;
    top: 0;
    opacity: 0.9;
    border-bottom: 3px solid white;
    z-index: 8;
}

.nav-bar h2 {
    color: white;
    margin: 20px;
    margin-top: 10px;
    font-size: 25px;
}

#side-bar {
    position: fixed;
    width: 200px;
    height: 80%;
    background: #1f1f1f;
    z-index: 7;
    top: 0;
    opacity: 0.9;
    left: -200px;
    margin-top: 115px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid white;
    border-right: 3px solid white;
}

#side-bar.active {
    left: 0px;
}

#side-bar ul {
    margin-top: 130px;
}

#side-bar ul li {
    color: white;
    list-style: none;
    padding: 25px 5px;
    font-size: 20px;
    border-bottom: 2px solid white;
}

.toggle-btn {
    position: absolute;
    left: 230px;
    top: 0;
    margin-top: 27px;
}

.toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: white;
    margin: 3px 0px;
}

.admin-info {
    width: 300px;
    height: 120px;
    position: absolute;
    top: 0;
    z-index: 5;
    background-color: #1f1f1f;
    opacity: 0.9;
    margin: 115px;
    margin-left: 300px;
    border-radius: 10px 30px;
}

.btn {
    width: 200px;
    height: 40px;
    position: absolute;
    top: 0;
    z-index: 5;
    background-color: #1f1f1f;
    opacity: 0.9;
    margin-left: 300px;
    margin-top: 280px;
    border-radius: 10px 30px;
    color: white;
    cursor: pointer;
}

.modal {
    display: none;
    position: absolute;
    z-index: 30;
    left: 0;
    top: 0;
    width: 600px;
    height: 600px;
    margin-top: 90px;
    margin-left: 450px;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: auto;
    background-color: black;
    opacity: 0.9;
    border-radius: 15px 30px;
    border: 1px solid white;
    box-shadow: 5px 5px 5px white;
}

.modal .header {
    position: absolute;
    width: 600px;
    height: 70px;
    border-top-left-radius: 15px;
    border-top-right-radius: 30px;
    background-color: green;
    border-bottom: 2px solid white;
    opacity: 0.9;
}

/* Modal Content */
/*
.modal-content {
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
    margin-top: 90px;
    margin-left: 40px;
    border: 2px solid #888;
    width: 80%;
}
*/

/* The Close Button */
.close {
    color: white;
    position: absolute;
    float: right;
    font-size: 38px;
    margin-left: 560px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.modal .form-content{
    margin-top: 100px;
    color: white;
    margin-left: 20px;
}

.modal .form-content label{
    font-size: 20px;
}

.prevoius-event {
    position: absolute;
    width: 200px;
    height: 30px;
    z-index: 35;
    background-color: black;
    color: white;
    top: 0;
    margin-top: 650px;
    margin-left: 40%;
    border: 1.5px solid white;
    border-radius: 5px;
}




